body {
  font-family: "Barlow", sans-serif;
  font-size: .75rem;
  letter-spacing: -.015rem;
  background-color: #f8f8f8;
  margin-top: 10em;
}

nav {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 15px 30px;
  top: 0;
  width: 100%;
}

ul {
  display: block;
  list-style-type: none;
}

li {
  font-family: "Cousine", monospace;
  text-align: center;
  padding: 14px 16px;
  display: inline;
}

#header-img {
  max-width: 75px;
  height: auto;
  margin-left: .75em;
}

#product-type {
  margin: 0;
}

#product-title {
  margin: 0;
}

#bcleanser {
  max-width: 100%;
  height: auto;
}

#product-img {
  max-width: 300px;
  /*display: flex;
  justify-content: flex-start;*/
}

h2 {
  font-family: "Cousine", monospace;
  font-weight: normal;
  font-size: 2.25rem;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-size: .75rem;
}

#product-container {
  background-color: #3EB63C;
  display: flex;
  padding: 8em 0em 8em 15em;
  /*display: flex;
  width: 1080px;
  padding: 4em 8em;*/
}

#product-info {
  display: flex;
  flex-direction: column;
  margin: 0em 10em 0em 5em;
} 

button {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border: 1px solid #000000;
  font-family: "Cousine", monospace;
  font-style: bold;
  font-size: 16px;
  transition-duration: 0.4s;
  width: 140px;
  height: 60px;
}

button:hover {
  background-color: #fff;
  color: #000;
  font-style: bold;
}
