/* header {
  display: flexbox;
}*/

body {
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 75px;
  height: auto;
  margin: 1%;
}

ul {
  position: fixed;
}

li {
  display: inline;
}

h3 {
  font-family: "Cousine", monospace;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-style: italic;
}

#product-container {
  display: flexbox;
}