#header {
  display: flex;
  justify-content: flex-start;
}

body {
  font-family: "Barlow", sans-serif;
  background-color: #f8f8f8;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Cousine", monospace;
  text-align: center;
  padding: 14px 16px;
  display: inline;
}

#header-img {
  max-width: 75px;
  height: auto;
  margin-left: .75em;
}

#bcleanser {
  max-width: 65%;
  height: auto;
}

h2 {
  font-family: "Cousine", monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 0px 14px 10px;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-style: italic;
}

#product-container {
  display: flex;
  margin: 2em;
}

#product-img {
  display: flex;
  justify-content: space-evenly;
}

#product-info {
  /*border: 1px solid #000;
  padding: 15px;*/
}

#product-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  /*padding: 15px; */
}